<nav class="nav navbar navbar-expand-xl">
    <a href="#" class="navbar-brand text-white brand-anchor">
        <h2 class="font-weight-bold brand-id">iamngoni</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon text-white"><i class="fa fa-bars"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link anchors">Home</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link anchors">About</a>
            </li>
            <li class="nav-item">
                <a href="#blog" class="nav-link anchors">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="nav-link anchors">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link anchors">Projects</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link anchors">Resume</a>
            </li>
        </ul>
    </div>
</nav>