<%layout('boilerplate') -%>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-dark">
    <div class="container-fluid main-body">
        <nav class="nav navbar navbar-expand-xl">
            <a href="/" class="navbar-brand text-white brand-anchor">
                <h2 class="font-weight-bold brand-id">iamngoni</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon text-white"><i class="fa fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link anchors">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#about" class="nav-link anchors">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#blog" class="nav-link anchors">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#skills" class="nav-link anchors">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#projects" class="nav-link anchors">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link anchors">Resume</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12">
                <p class="text-white mx-3">Hi, I am a Software Engineering undergraduate at Harare Institute of Technology, with keen interests in mobile application development and more specifically with the Flutter Framework. I have worked on a few <a href="https://github.com/iamngoni" class="anchors">projects</a> in web development, desktop systems development, mobile app development and task automation cli tools. I love developing products and models that empower man.</p>
                <p class="text-white mx-3">Find me on <a href="https://github.com/iamngoni" class="text-white"><i class="fa fa-github"></i></a>, <a href="https://twitter.com/ngmangudya" class="text-white"><i class="fa fa-twitter"></i></a>, <a href="#" class="text-white"><i class="fa fa-linkedin"></i></a> and <a href="mailto:el.nick.ngonie@gmail.com" class="text-white"><i class="fa fa-envelope"></i></a></p>
            </div>
            <div class="col-md-12">
                <h3 class="font-weight-bold headings mx-3">Product Locator</h3>
                <p class="text-white mx-3">This project (development of a mobile application) will help customers search for a particular product, get all the products related to their search all ranked according to the distance from the current location of the customer, get product details and directions to the store.</p>
            </div>
            <div class="col-md-12">
                <h3 class="font-weight-bold headings mx-3">Screenshots</h3>
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid mx-3 py-2" src="/images/home.png" alt="showcase">
                    </div>
                    <!-- <div class="col-md-6">
                        <img class="img-fluid mx-3 py-2" src="/images/home.png" alt="showcase">
                    </div> -->
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="font-weight-bold headings mx-3">Download</h3>
                <a class="mx-3 text-white" href="/download">Download mobile application.</a>
            </div>
        </div>
    </div>
</body>